# ROS Ignores
build/
devel/
# /src/CMakeLists.txt
# /src/CMakeLists.txt.*

# Bag Files
bags/

# Python
*.pyo
*.pyc

# Misc things
ros/.catkin_workspace

# Vim Autosaves
*/*~

# VSCode Files
.dir-locals.el
cmake-build-debug
**/.vscode/
**/.idea/
cmake-build*/

#CI/CD act library
bin/

# Emacs/Spacemacs Autosaves
.#*
.dir-locals.el
src/IMU/LSM9DS1_Basic_I2C/data/SparkFun_LSM9DS1_Arduino_Library-master.zip
