<launch>
<group>
    <remap from='joy' to='j1'/>
    <node pkg='joy' name='logitech' type='joy_node'>
        <param name='dev' type='string' value='/dev/input/js1'/>
    </node>
</group>

    <!-- <node pkg='arm' name='armCommands' type='control_arm.py'/> -->
    
    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="ArduinoArm"
        args="/dev/ttyUSB0"
    >
    <param name="baud" type="int" value="57600"/>
    </node>



<!-- <group>
    <remap from='joy' to='j2'/>
    <node pkg='joy' name='logitech' type='joy_node'>
        <param name='dev' type='string' value='/dev/input/js1'/>
    </node>
</group> -->

<!-- <node name="j1_throttle" type="throttle" pkg="topic_tools" args="messages /armCommands 15 /armOut" /> -->
<!-- <node name="j2" type="throttle" pkg="topic_tools" args="messages /j2 7 /j2_throttle" />  -->

</launch>