<launch>
<!-- Launch 2 Arduino boards ARM AND DRIVETRAIN -->

    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="ArduinoArm"
        args="/dev/ttyUSB0"
    ></node>

    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="ArduinoArm"
        args="/dev/ttyACM0"
    ></node>
</launch>
