<launch>
    <group>
        <remap from='joy' to='j1'/>
        <node pkg='joy' name='ps4' type='joy_node'>
            <param name='dev' type='string' value='/dev/input/js1'/>
        </node>
    </group>

    <node pkg='drivetrain' name='V2joydrive' type='control_speed.py'/>
    <node name="j1_boost" type="throttle" pkg="topic_tools" args="messages /speed 15 /j1_throttle" />

    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="ArduinoDrive"
        args="/dev/ttyUSB1"
    >
    <param name="baud" type="int" value="9600"/>
    </node>



</launch>
