<launch>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local" clear_params="true" respawn="true">
        <rosparam command="load" file="$(find uvic_rover)/params/ekf_local.yaml" />
        <remap from="/odometry/filtered" to="/odometry/filtered_local"/>
        <!--Without this remap, both EKFs might conflict, leading to incorrect localization results.-->
    </node>
</launch>