<launch>
  <!-- Start the joystick node -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name='dev' type='string' value='/dev/input/js1'/>
  </node>

  <!-- Start the joy_to_motor node -->
  <!-- <node pkg="uvic_rover" type="front_left_right_nopid.py" name="joy_to_frontworm" output="screen" /> -->

  <node pkg="uvic_rover" type="front_left_right_nopid.py" name="joy_to_phidget" output="screen" />


  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0"/> 
    <param name="baud" value="57600"/> 
  </node>
</launch>
