<launch>
  <!-- Start the joystick node -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name='dev' type='string' value='/dev/input/js1'/>
  </node>

  <!-- Start the joy_to_motor node -->
  <node pkg="uvic_rover" type="front_left_right_worm.py" name="joy_to_motor" output="screen" />




</launch>
