<launch>
  <!-- Start the joystick node -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name='dev' type='string' value='/dev/input/js1'/>
  </node>




  <!-- Start the joy_to_motor node -->
  <node pkg="uvic_rover" type="gripper.py" name="joy_to_gripper" output="screen" />

  <!-- Start the rosserial node to communicate with Arduino -->

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0"/> 
    <param name="baud" value="57600"/> 
  </node>

</launch>
