<launch>

  <node pkg="uvic_rover" type="phidget_simple_drive.py" name="joy_to_motor" output="screen" />

  <node pkg="uvic_rover" type="front_left_right_nopid.py" name="joyasdds_to_phidget" output="screen" />


  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0"/> 
    <param name="baud" value="57600"/> 
  </node>




  <arg name="image_view" default="false" />
  <node name="usb_cam0" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <rosparam command="load" file="/home/summit-uvic/catkin_ws/src/uvic_rover/src/cam/cam0.yml"/>
  </node>
  <node if="$(arg image_view)" name="image_view" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>



  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <rosparam command="load" file="/home/summit-uvic/catkin_ws/src/uvic_rover/src/cam/cam1.yml"/>
  </node>
  <node if="$(arg image_view)" name="image_view" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>


  <include file="$(find zed_wrapper)/launch/zed2i.launch" />



</launch>

