<launch>
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" respawn="true">
        <param name="frequency" value="10" />
        <param name="delay" value="3.0" />
        <param name="magnetic_declination_radians" value="0.0" />
        <param name="yaw_offset" value="0.0" />
        <param name="zero_altitude" value="true" />
        <param name="broadcast_utm_transform" value="true" />
        <param name="publish_filtered_gps" value="true" />

        <param name="use_odometry_yaw" value="false" />
        <param name="wait_for_datum" value="false" />

        <param name="imu0" value="/imu/data" />
        <param name="gps0" value="/gps/fix" />
    </node>
</launch>
