<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" respawn="true">
    <!-- Frequency at which the node computes a transformation -->
    <param name="frequency" value="10" />  
    <!-- Delay to account for latency in the GPS data (in seconds) -->
    <param name="delay" value="3.0" />
    <!-- Magnetic declination (in radians) for your location -->
    <param name="magnetic_declination_radians" value="0.0" /> 
    <!-- Yaw offset to align the transform with your robot's heading -->
    <param name="yaw_offset" value="0.0" />  
    <!-- If true, it assumes the robot is always at zero altitude -->
    <param name="zero_altitude" value="true" /> 
    <!-- If true, the node broadcasts a UTM transform -->
    <param name="broadcast_utm_transform" value="true" /> 
    <!-- If true, it publishes a filtered GPS message that can be used as input to the global EKF -->
    <param name="publish_filtered_gps" value="true" />
    <!-- Use the IMU's yawrqt_tf_tree
 directly or optionally fuse with odometry yaw -->
    <param name="use_odometry_yaw" value="false" />  
    <!-- Should the node wait for a GPS datum before starting? -->
    <param name="wait_for_datum" value="false" />
    <!-- Topic names for input GPS and IMU data -->
    <param name="imu0" value="/imu/data" />
    <param name="gps0" value="/gps/fix" />
  </node>
</launch>
